#canvasEl {
  border: 1px dotted #000;
  max-width: 500px;
  background-color: #FFF;
  margin: 10px;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #F8F7ED
}

.buttons {
  display: flex;
}

.buttons button {
  margin: 0 10px;
}

.color-menu {
  background-color: white;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colors {
  width: 110px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  list-style: none;
}

.colors li {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid transparent;
}

.colors .selected {
  border: 1px solid black;
  border-radius: 50%;
}

.main {
  display: flex;
  align-items: center;
}

h1, h2, h3 {
  margin: 5px;
  text-align: center;
}
