#canvasEl {
  border: 1px dotted #000;
  /*max-width: 500px;*/
  background-color: #FFF;
}

body {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  background-color: #F8F7ED
}

header {
  position: absolute;
  display: flex;
  top: 0px;
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
}

h1, h2, h3 {
  margin: 5px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 5px 10px 10px 10px;
}

.menu {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color:rgba(255,255,255,0.5);
}

.color-menu {
  margin: 5px;
  left: 0px;
  top: 100px;
}

.colors {
  width: 110px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  list-style: none;
}

.colors li {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid transparent;
}

.colors .selected {
  border: 1px solid black;
  border-radius: 50%;
}

.option-menu {
  right: 0px;
  top: 150px;
}



.option-menu .options {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.presets button {
  margin: 0 5px;
}

.options * {
  margin: 5px;
}

.main {
  display: flex;
  align-items: center;
}



label {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  justify-content: space-around;
}
